[user]
	name = 
	email = 
[http]
	postBuffer = 524288000
[core]
	autocrlf = true
	safecrlf = true
[http]
	proxy = socks5://127.0.0.1:7890
[https]
	proxy = socks5://127.0.0.1:7890
[credential]
	helper = cache
[commit]
	gpgsign = 

